@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

:root {
  --main-color: #5b2386;
  --sec-color: #fff;
  --btn-color: #fcee21;
}

.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  min-width: 361px;
  background-color: var(--main-color);
  color: var(--sec-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-width: 765px; */
}

/* header */
header {
  background-image: url(/img/clock.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 16.5625rem;
}

header h1 {
  margin: 7.8125rem 42.375rem;
}

header img {
  width: 35.25rem;
  height: 7rem;
}

/* main */
main {
  font-family: "GmarketSansMedium";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 7.1875rem;
  font-size: 1.5rem;
}

.s1-p1 {
  font-family: "OTEnjoystoriesBA";
  font-size: 2.25rem;
  color: #f5df4d;
  line-height: 2.475rem;
  margin-bottom: 4.875rem;
}

.s1-p2 span {
  font-family: "GmarketSansBold";
  font-size: 1.5rem;
}
.s1-p2 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
  background-image: url(/img/quotes.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* .section2 {
  line-height: 1.5rem;
  text-align: center;
} */

.section2 form {
  position: relative;
}

.section2 input {
  width: 228px;
  height: 57px;
  border-radius: 7px;
  font-family: "GmarketSansMedium";
  font-size: 1.5rem;
  color: #babcbe;
  text-align: center;
  margin-bottom: 1.6875rem;
}

.s2-p2 {
  margin-bottom: 5.5rem;
}

button {
  font-family: "GmarketSansBold";
  font-size: 1.5rem;
  color: var(--main-color);
  height: 4.125rem;
  border-radius: 3.5rem;
  line-height: 1.5rem;
  padding: 1.5rem 3.0625rem;
  background-color: var(--btn-color);
  margin-bottom: 2rem;
  cursor: pointer;
  box-shadow: 0 0 10px 0 black;
  border: none;
}

.section2 img {
  position: absolute;
}

.section3 {
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section3 span {
  font-family: "GmarketSansBold";
  font-size: 4.5rem;
  line-height: 4.5rem;
  vertical-align: middle;
}

article form {
  display: flex;
  gap: 18px;
  margin-bottom: 83px;
}

.share {
  background-color: var(--sec-color);
}

/* footer */
footer {
  text-align: center;
}

footer img {
  width: 7.8125rem;
  height: 1.5625rem;
  margin-bottom: 1.25rem;
}

footer p {
  font-size: 0.75rem;
  line-height: 1.08625rem;
}

/* 모달창 CSS */
dialog {
  /* 모달창 숨김 */
  visibility: hidden;
  font-family: "OTEnjoystoriesBA";
  font-size: 6rem;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50rem;
  height: 50rem;
  border-radius: 1.875rem;
  box-shadow: 0 0 10px 0 black;
  padding: 64px 184px;
  gap: 0.25rem;
}

.d-p2 {
  font-size: 2.25rem;
  margin-bottom: 1.5625rem;
}

dialog button {
  margin-top: 4.625rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    background-size: 7.8125rem;
  }

  header h1 {
    margin: 5.16rem 7.6rem;
  }

  header img {
    width: 16.6875rem;
    height: 3.3125rem;
  }

  main {
    gap: 30px;
  }
  .s1-p1 {
    font-size: 1.375rem;
    margin-bottom: 62px;
  }

  .s1-p2,
  .s1-p2 span {
    background-size: 18.5rem;
    font-size: 0.875rem;
    line-height: 2.33rem;
  }

  .s2-p2 {
    margin-bottom: 49px;
  }

  .section2 {
    font-size: 0.875rem;
  }

  .section2 input {
    width: 156px;
    height: 37px;
    font-size: 0.875rem;
    margin-bottom: 17px;
  }

  .section2 span {
    display: block;
    margin-bottom: 17px;
  }

  button {
    font-size: 14px;
    line-height: 14px;
  }

  .btn-one {
    border-radius: 13px;
    width: 241px;
    height: 68px;
    padding: 23px 49px 21px 49px;
  }

  .section2 img {
    width: 43px;
    height: 48px;
    right: -10px;
    bottom: 22px;
  }

  .section3 {
    font-size: 14px;
    gap: 15px;
    margin-bottom: 55px;
  }

  .section3 span {
    font-size: 24px;
    line-height: 14px;
  }

  article form {
    gap: 12px;
    padding: 0 31px;
  }
  .btn-two {
    width: 186px;
    height: 40px;
    padding: 0;
  }

  .btn-three {
    width: 92px;
    height: 40px;
    padding: 0;
  }

  footer p {
    font-family: "Noto Sans KR";
    font-size: 9px;
    line-height: 13.03px;
    color: rgba(256, 256, 256, 0.3);
  }

  footer img {
    width: 91px;
    height: 18px;
    margin-bottom: 20px;
  }

  dialog {
    width: 330px;
    height: 500px;
    border-radius: 30px;
    font-size: 70px;
    box-shadow: 0 0 50px 0 black;
    padding: 44px;
  }

  dialog img {
    width: 241px;
    height: 188px;
  }

  .d-p2 {
    font-size: 36px;
    margin-bottom: 1.5625rem;
  }

  dialog button {
    margin-top: 34px;
  }
}
