@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

@media (max-width: 360px) {
}

.sr-only {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  background-color: #5b2386;
  color: #fff;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "header"
    "s1"
    "s2"
    "s3"
    "footer";
}

header {
  grid-area: header;
  background-image: url(/img/clock.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 16.3125rem;
}

header h1 {
  margin: 7.8125rem 42.375rem;
}

header img {
  width: 35.25rem;
  height: 7rem;
}

main {
  font-family: "GmarketSansMedium";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.1875rem;
  font-size: 1.5rem;
}

.section1 {
  grid-area: s1;
}

.s1-p1 {
  font-family: "OTEnjoystoriesBA";
  font-size: 2.25rem;
  color: #f5df4d;
  line-height: 2.475rem;
  margin-bottom: 4.875rem;
}

.s1-p2 span {
  font-family: "GmarketSansBold";
  font-size: 1.5rem;
}
.s1-p2 {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
  background-image: url(/img/quotes.png);
  background-repeat: no-repeat;
}

.section2 {
  grid-area: s2;
  line-height: 1.5rem;
  text-align: center;
}

.section2 input {
  width: 228px;
  height: 57px;
  border-radius: 7px;
  font-family: "GmarketSansMedium";
  font-size: 1.5rem;
  color: #babcbe;
  text-align: center;
  margin-bottom: 1.6875rem;
}

.s2-p2 {
  margin-bottom: 5.5rem;
}

button {
  font-family: "GmarketSansBold";
  font-size: 1.5rem;
  color: #5b2386;
  height: 4.125rem;
  border-radius: 3.5rem;
  line-height: 1.5rem;
  padding: 1.5rem 3.0625rem;
  background-color: #fcee21;
  margin-bottom: 2rem;
  cursor: pointer;
  box-shadow: 50% black;
}

.section2 img {
  position: absolute;
}

.section3 {
  grid-area: s3;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section3 span {
  font-family: "GmarketSansBold";
  font-size: 4.5rem;
  line-height: 4.5rem;
  vertical-align: middle;
}

article button {
  margin-bottom: 6.125rem;
}

.share {
  background-color: #fff;
}

footer {
  grid-area: footer;
  text-align: center;
}

footer img {
  width: 7.8125rem;
  height: 1.5625rem;
  margin-bottom: 1.25rem;
}

footer p {
  font-size: 0.75rem;
  line-height: 1.08625rem;
  margin-bottom: 4.375rem;
}
